@import '../fonts.scss';
@import '../variables.scss';
@import '../mixins';

.heroSection {
  max-width: $wrapper-max-width;
  margin: auto;
  padding: 142px $wrapper-horizontal-padding 50px $wrapper-horizontal-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    @extend .h1;
    @extend .text-center;
    @extend .text-black;
    margin-bottom: 16px;
  }

  p {
    @extend .paragraph;
    @extend .text-center;
    text-align: center;
    margin: 0;
    margin-bottom: 56px;
  }

  .content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    padding: 0px $wrapper-horizontal-padding;
    justify-content: center;

    .contactBlock {
      margin-top: 24px;
      background: #ebf7ff;
      padding: 24px;
      border-radius: 12px;
      margin-right: 24px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .contactTitle {
        color: $primary-color;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4px;
      }

      .contactDescription {
        text-align: center;
        color: $gray;
        margin-bottom: 24px;
      }

      .contactLink {
        text-align: center;
      }

      .image {
        align-self: center;
        width: 96px;
        height: 96px;
      }
    }

    p {
      @extend .paragraph;
      @extend .text-center;
      @extend .text-black;
      @media (min-width: $medium-size) {
        text-align: left;
      }
      margin: 0px 0px 30px 0px;
    }
  }
}
