@import '../fonts.scss';
@import '../variables.scss';

.heroSection {
  max-width: $wrapper-max-width;
  margin: auto;
  padding: 142px $wrapper-horizontal-padding 50px $wrapper-horizontal-padding;

  @media (min-width: $medium-size) {
    // display: flex;
    // justify-content: space-between;
    // align-itemss: flex-start;
    // flex-direction: column;
  }

  .heroLeft {
    @media (min-width: $medium-size) {
      // width: 50%;
    }

    .heroText {
      margin-bottom: 50px;
      text-align: center;

      h1 {
        @extend .h2;
        @extend .text-center;
        @extend .text-black;
      }

      p {
        @extend .paragraph;
        @extend .text-center;
        @extend .text-black;
      }

      .link {
        @extend .button-link-bold;
        @extend .text-left;
        @extend .text-primary;
      }
    }

    .heroImage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .image,
      img {
        width: 100%;
        max-width: 320px;
        height: auto;
        position: relative;
      }
    }
  }

  .pricingBoxes {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-direction: column;
    @media (min-width: $small-size) {
      // width: 80%;
      flex-direction: row;
    }

    .pricingBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 8px;
      margin: 10px;
      box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07),
        0 13px 18px -8px rgba(0, 0, 0, 0.15);
      @media (min-width: $medium-size) {
        width: 400px;
      }
      .hr {
        margin: 0;
      }
      .top {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #e4f4fd;
        padding: 25px;
        border-radius: 8px 8px 0px 0px;
        .image,
        img {
          width: 100%;
          max-width: 200px;
          height: auto;
          position: relative;
        }

        .planName {
          @extend .h3;
          font-weight: 600;
          margin: 5px 0 5px 0;
          color: $primary-color;
        }
        .description {
          // @extend .very-small-paragraph;
          font-size: 16px;
        }
        .price {
          @extend .small-paragraph;

          strong {
            font-size: 30px;
          }
        }
      }

      .bottom {
        padding: 19px 32px 10px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;

        .features {
          // margin: 0 auto;
          padding-bottom: 16px;
          justify-content: space-around;

          @media (min-width: $medium-size) {
            display: block;
          }

          .feature {
            position: relative;
            @extend .button-link;
            @extend .text-left;
            @extend .text-black;
            margin-bottom: $wrapper-horizontal-padding;
            font-size: 16px;
            margin-left: 10px;

            &:before {
              position: absolute;
              content: url('../../static/check.svg');
              margin-right: 10px;
              margin-left: -20px;
            }
          }

          .customFeature {
            position: relative;

            @extend .button-link;
            @extend .text-center;
            @extend .text-black;
            margin-bottom: $wrapper-horizontal-padding;
            font-size: 16px;
            background-color: #e4f4fd;
            border-radius: 5px;
            padding: 10px;
            color: $primary-color;
            font-weight: bold;
            margin-left: -15px;
          }
        }

        .cta {
          margin: 20px 0;
          .buttonUnderline {
            margin: 10px 0;
            text-align: center;
            position: relative;
            @extend .very-small-paragraph;
            font-size: 15px;
          }
        }
      }
    }
  }

  .commonFeatures {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07),
      0 13px 18px -8px rgba(0, 0, 0, 0.15);

    .title {
      @extend .h3;
      font-weight: 600;
      margin: 5px 0 5px 0;
      color: $primary-color;
      @extend .text-center;
    }

    .features {
      padding-bottom: 16px;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      padding: 30px;
      margin-left: 80px;

      @media (min-width: $medium-size) {
        // display: block;
        display: flex;
      }

      .feature {
        flex: 1 0 30%;
        position: relative;
        @extend .button-link;
        @extend .text-left;
        @extend .text-black;
        margin-bottom: $wrapper-horizontal-padding;
        font-size: 16px;
        margin-left: 10px;

        &:before {
          position: absolute;
          content: url('../../static/check.svg');
          margin-right: 10px;
          margin-left: -20px;
        }
      }
    }
  }
}

.clientsSection {
  padding: 50px $wrapper-horizontal-padding;
  padding-top: 10px;
}

.questionsSection {
  padding: 80px $wrapper-horizontal-padding;
  background-color: #f8f8f8;
  .wrapper {
    max-width: $wrapper-max-width;
    margin: auto;
    .title {
      @extend .h2;
      @extend .text-center;
      @extend .text-black;
      margin: 0px 0px 30px 0px;
    }
    .questions {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-between;
      .question {
        width: 100%;
        h5 {
          @extend .paragraph;
          @extend .text-left;
          @extend .text-black;
          font-weight: bold;
          margin: 50px 0px 10px 0px;
        }
        p {
          @extend .paragraph;
          @extend .text-left;
          @extend .text-black;
          margin: 0px;
        }
      }
    }
  }
}

.demoSection {
  margin-bottom: 100px;
}
