@import '../fonts';
@import '../variables';
@import '../mixins';

.mSectionCta {
  max-width: $wrapper-max-width;
  margin: 100px auto;
  padding: 0 $wrapper-horizontal-padding;
  display: flex;
  flex-direction: column;
  @media (min-width: $medium-size) {
    flex-direction: row;
  }

  .content {
    width: 100%;
    @media (min-width: $medium-size) {
      width: 100%;
      margin: auto;
    }

    h3 {
      @extend .h3;
      @extend .text-center;
      @extend .text-black;
      margin: 0px;
    }
    p {
      width: 70%;
      @extend .paragraph;
      @extend .text-center;
      @extend .text-black;
      margin: 20px auto 40px auto;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 20px;
      align-items: center;

      @media (min-width: $medium-size) {
        width: 100%;
        max-width: 850px;
        margin: auto;
        flex-wrap: nowrap;
      }

      input {
        &[name='bot-field'] {
          display: none;
        }
      }

      .formGroup {
        display: flex;
        width: 100%;
        padding: 0 5px;
        flex-direction: column;
        margin: 10px 0;

        input {
          margin: 10px 0;
          height: 48px;
          border-radius: 2px;
          border: solid 1px $black;
          background-color: $white;
          padding: 5px;
          box-sizing: border-box;
          @extend .button-link;
          @extend .text-left;
          @extend .text-black;

          @media (min-width: $medium-size) {
            // margin: 0 10px 0 0;
          }
        }

        select {
          height: 48px;
          border-radius: 2px;
          border: solid 1px $black;
          background-color: $white;
          padding: 2px;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          @extend .button-link;
          @extend .text-left;
          @extend .text-black;
        }
      }
    }

    .submitSuccess {
      text-align: center;
      margin: 10px 0;
    }
  }
}
