// Colors
$primary-color: #079cee;
$black: #0d1a26;
$white: #ffffff;
$gray: #666666;
$gray-light: #ddd;
$brown: #636363;
$brown-light: #f8f8f8;
$blue-light: #e4f4fd;

// Width and padding
$wrapper-max-width: 1150px;
$sm-wrapper-max-width: 870px;
$wrapper-horizontal-padding: 16px;

// Screen sizes
$small-size: 700px;
$medium-size: 1100px;
$large-size: 1300px;
$xlarge-size: 2000px;

// Banner
$banner-height: 45px;
